<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>kazahana</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.social-networking</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.osprey74.kazahana.notificationRefresh</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SmartToy.ttf</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>投稿に含まれる画像・動画を写真ライブラリに保存するために使用します。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>最寄りの避難所を検索し、避難誘導を行うために使用します。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.osprey74.kazahana</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kazahana</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
